@value ilinkLightBlue, ilinkNavy from '../../common/colours.css';


.container {
  flex-basis: 50%;
  overflow-y: auto;
}

.editor {
  max-width: 50rem;
  padding: 0 2rem 50px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  
  width: 80%;
  height: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: ilinkLightBlue;
  /* opacity: 0.8; */
  padding: 2rem;
  border-radius: 1rem;
}

.subtitle{
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  color: ilinkNavy;
}