@value mediaQuery from '../../common/size.css';

.container {
  flex-basis: 50%;
  overflow-y: auto;
}

.editor {
  max-width: 50rem;
  padding: 0 2rem 50px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-basis: auto;
  }
}