@value ilinkBlack, ilinkBrightBlue, ilinkDarkWhite from '../../common/colours.css';
@value mediaQuery from '../../common/size.css';

.preview {
  flex-basis: 50%;
  position: relative;
  border-left: 1px solid ilinkDarkWhite;
}

@media screen and (max-width: mediaQuery) {
  
  .preview {
    display: none
  };
}
