@value ilinkBlack, ilinkBrightBlue, ilinkDarkWhite from '../../common/colours.css';
@value mediaQuery from '../../common/size.css';


.frame {
  width: 370px;
  height: 760px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: scale(0.749213) translateX(-50%) translateY(-50%) translate3d(0px, 0px, 0px);

  border: 1.1rem solid ilinkBlack;
  border-radius: 3rem;
  overflow-y: auto;
}


@media screen and (max-width: mediaQuery) {
  
  .frame.open {
    display: none;
  }

  .frame.close {
    display: block;
  }

  /* .preview.show {
    display: block;
    position: fixed;
    bottom: 50%;
    left: 50%;

    transform: scale(1.63068) translateX(-50%) translate3d(0px, 0px, 0px);
    margin-top: 8px;
  } */

}
