@value ilinkThemeLight, ilinkThemeDark, ilinkThemeBlue, ilinkThemePink, ilinkThemeGreen, ilinkThemePinkGreen from '../../common/colours.css';

.container {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0;
}

.container.light {
  background: ilinkThemeLight;
}

.container.dark {
  background: ilinkThemeDark;
}

.container.colourful {
  background: ilinkThemePinkGreen;
}

.container.pink {
  background: ilinkThemePink;
}
.container.blue {
  background: ilinkThemeBlue;
}
.container.green {
  background: ilinkThemeGreen;
}