@value ilinkDarkWhite, ilinkLightGray from '../../common/colours.css';
@value mediaQuery from '../../common/size.css';

.container {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  border-left: 1px solid ilinkDarkWhite;
  color: ilinkLightGray;
}

.title {
  font-size: 1rem;
  margin-right: 1rem;
}

.address {
  display: block;
  text-decoration: none;
}

@media screen and (max-width: mediaQuery) {
  .container {
    width: 100%;
    padding: 0 1rem;
    justify-content: flex-start;
    align-items: center;

    border-left: none;
    border-top: 1px solid ilinkDarkWhite;
  }

  .title {
    margin-right: 0.5rem;
  }
}