@value ilinkWhite, ilinkDarkWhite from '../../common/colours.css';

.header {
  width: 100vw;
  background-color: ilinkWhite;
  z-index: 1000;
  border-bottom: 1px solid ilinkDarkWhite;
  align-items: center;

}
