@value iLinkNavy, ilinkBrightBlue from '../common/colours.css';

.footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  color: iLinkNavy;
}