@value ilinkNavy from '../common/colours.css';

.container {
  width: 100%;
  max-width: 80rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home {
  width: 100vw;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem auto;
  
  max-width: 30rem;
  height: 100%;
}

.title {
  font-size: 2.5rem;
  color: ilinkNavy;
  font-weight: bold;
  text-align: center;
  
}

.error.hidden{
  visibility:hidden;
}

.error.display {
  visibility: visible;
}

@media screen and (max-width: 60rem) {
  .form{
    width: 80%;
  }
}