

* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  /* background-color: aquamarine; */
}

.container {
  width: 100%;
  max-width: 80rem;
  height: 100%;
  display: flex;
  /* background-color: aqua; */
  margin: 0 auto;
  /* justify-content: center;
  align-items: center; */
  
}